@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  
  body {
    color: #222;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 50px;
    background-color: #edf5fb;
    min-width: 720px;
}

.app-container {
  margin: 40px 20vw;
  max-width: 2000px;


}